@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

html {
  font-size: 16px;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.head-title {
  font-size: 4rem;
  color: #eb7135;
  text-shadow: 0 0 4px black;
  text-align: center;
}

.bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  filter: blur(10px);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  transition: 0.3s;
  width: 12rem;
  height: 12rem;
  border: 1px solid white;
  border-radius: 15px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 2px white;
  }

  &_sun {
    background-image: url("./assets/summer-bg.jpg");
  }

  &_cloud_rain {
    background-image: url("./assets/rainy-bg.jpg");
  }

  &_cloud_snow {
    background-image: url("./assets/winter-bg.jpg");
  }
}
.icon {
  display: flex;
  width: 4rem;
  height: auto;
  padding: 0.5rem;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px white;

  &:hover {
    box-shadow: 0 0 20px 2px white;
  }
}

#volume-control {
  margin-top: 20px;
  width: 180px;

  &:hover {
    cursor: pointer;
  }
}
